<div class="list">
  
<p id="notice"> <%= notice %> </p>

<% @links.each do |link|  %>
  <%= link_to link.title, link , :class => "title" %> <br>
  <small> Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %> </small> <br> <br>
<% end %>

</div>



